*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Maven
/log/
target/
/bin/
/c_tempfiles/
/beast/nbproject/
beast/.settings/org.eclipse.jdt.core.prefs
beast/src/main/resources/c_tempfiles/*.c
beast/core/c_tempfiles/*.c
*.obj

# Options
*opts.txt
beast/core/cfiles/*.c
beast/core/cfiles/*.bat
beast/core/cfiles/*.exe
beast/core/c_tempfiles/*.c
beast/core/c_tempfiles/*.exe
beast/core/c_tempfiles/*.obj
beast/core/c_tempfiles/*.bat
*.classpath
beast/.settings/org.eclipse.jdt.core.prefs
beast/.classpath
beast/windows/VsDevCmd.bat
*.prefs
beast/.settings/org.eclipse.jdt.core.prefs
