for (unsigned int i = 0; i < CURRENT_VOTE.AMT_MEMBER && i < AMT_VOTERS; ++pos) {
    for (unsigned int j = 0; j < AMT_CANDIDATES; ++j) {
        VAR_NAME.LIST_MEMBER[pos][j] = NONDET_UINT();
        ASSUME (VAR_NAME.LIST_MEMBER[pos][j] == CURRENT_VOTE.LIST_MEMBER[i][j]);
    }
}
