unsigned int VOTE_ARR[AMT_VOTERS][AMT_CANDIDATES];
for (unsigned int i = 0; i < CURRENT_AMT_VOTER; ++i) {
    for (unsigned int j = 0; j < CURRENT_AMT_CAND; ++j) {
        VOTE_ARR[i][j] = VOTE_INPUT_STRUCT_VAR.LIST_MEMBER[i][j];
    }
}
